{% extends "maestro/base.html" %}
{% load static %}

{% block head_files %}
{% endblock %}

{% block breadcrumb  %}
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="javascript:;">Maestro</a></li>
        <li class="breadcrumb-item"><a href="/maestro/sucursal">Presentacion</a></li>
        <li class="breadcrumb-item active">Edición</li>
    </ol>
{% endblock %}


{% block content %}
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">Presentacion</h4>
        </div>
        <div class="panel-body">
            <form method="post">{% csrf_token %}
               <div class="col-md-12">
                   <div class="row buttons-content">
                       <button type="submit" class="btn btn-success">
                            <i class="fa fa-save fas"></i> Guardar
                        </button>
                   </div>
                   <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td class="td-detail-title">DESCRIPCION:</td>
                                <td class="td-detail-desc"><input name="descripcion" class="form-control" value="{{ object.descripcion }}"></td>
                                <td class="td-detail-title"></td>
                                <td class="td-detail-desc"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
               </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block bottom_scripts %}
{% endblock %}