{% extends "almacen/base.html" %}
{% load static %}

{% load maestro_tags %}

{% block head_files %}
    <link href="{% static "assets/plugins/switchery/switchery.min.css" %}" rel="stylesheet" />
{% endblock %}

{% block breadcrumb  %}
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="javascript:;">Almacen</a></li>
        <li class="breadcrumb-item"><a href="/maestro/sucursal">Recepción</a></li>
        <li class="breadcrumb-item active">Detalle</li>
    </ol>
{% endblock %}

{% block pageheader %}
    <h1 class="page-header">Recepcion de Compra <small>Detalle de la Recepcion</small></h1>
{% endblock %}


{% block content %}
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">Recepcion de Compra </h4>
        </div>
        <div class="panel-body">
            <form method="post">{% csrf_token %}
           <div class="col-md-12">
               <div class="row buttons-content">
                   <button type="submit" class="btn btn-success">
                        <i class="fa fa-save fas"></i> Guardar
                    </button>
                   <input type="hidden" name="detalle_size" value="{{ detalle|length }}">
                   <input type="hidden" name="oferta_size" value="{{ oferta|length }}">
               </div>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="td-detail-title">PROVEEDOR:</td>
                                <td class="td-detail-desc">{{ object.proveedor.descripcion }}</td>
                                <td class="td-detail-title">ESTADO:</td>
                                <td class="td-detail-desc">{{ object.get_estado_display }}</td>
                            </tr>
                            <tr>
                                <td class="td-detail-title">TOTAL:</td>
                                <td class="td-detail-desc">{{ object.total_tentativo }}</td>
                                <td class="td-detail-title">FECHA-HORA:</td>
                                <td class="td-detail-desc">{{ object.fechahora|date:'d-m-Y H:i' }}</td>
                            </tr>
                            <tr>
                                <td class="td-detail-title">ASIGNADO:</td>
                                <td class="td-detail-desc">{{ object.asignado.username }}</td>
                                <td class="td-detail-title">COMPRA:</td>
                                <td class="td-detail-desc">{{ object.compra|default_if_none:'' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
               <legend class="m-b-15">
                   Detalle
               </legend>
               <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th width="22%">Producto</th>
                                <th width="13%">Presentación</th>
                                <th width="15%">Cantidad</th>
                                <th width="12%">Precio</th>
                                <th width="12%">Descuento</th>
                                <th width="13%">Total</th>
                                <th width="8%">Conforme</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in detalle %}
                                <tr>
                                    <td><input type="hidden" name="dc{{ forloop.counter }}-id_detalleorden" value="{{ d.id }}">{{ d.presentacionxproducto.producto.descripcion }}</td>
                                    <td>{{ d.presentacionxproducto.presentacion.descripcion }}</td>
                                    <td><input class="form-control cantidad" name="dc{{ forloop.counter }}-cantidad_presentacion"  value="{{ d.cantidad_presentacion }}"></td>
                                    <td class="td_precio">{{ d.precio }}</td>
                                    <td class="td_descuento">{{ d.descuento }}</td>
                                    <td><input class="form-control totalfinal" name="dc{{ forloop.counter }}-total"  value="{{ d.total_final }}"></td>
                                    <td><p class="m-b-25"><input type="checkbox" data-change="check-conforme" data-render="switchery" data-theme="default" /></p></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
               <legend class="m-b-15">
                   Productos de Oferta
               </legend>
               <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th width="22%">Producto</th>
                                <th width="13%">Presentación</th>
                                <th width="15%">Cantidad</th>
                                <th width="15%">Conforme</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for o in oferta %}
                                <tr>
                                    <td><input type="hidden" name="re{{ forloop.counter }}-id_resultadooferta" value="{{ o.id }}">{{ o.producto.descripcion }}</td>
                                    <td>{{ o.presentacion.presentacion.descripcion }}</td>
                                    <td><input class="form-control cantidad_promocion" name="ro{{ forloop.counter }}-cantidad_presentacion"  value="{{ o.cantidad_presentacion }}"></td>
                                    <td><p class="m-b-25"><input type="checkbox" data-change="check-conforme" data-render="switchery" data-theme="default" /></p></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
        </div>
        </form>
    </div>
    </div>

{% endblock %}

{% block bottom_scripts %}
    	<script src="{% static "assets/plugins/switchery/switchery.min.js" %}"></script>
    	<script src="{% static "assets/own/almacen/recepcion.js" %}"></script>
        <script>
            if ($('[data-render=switchery]').length !== 0) {
                $('[data-render=switchery]').each(function() {
                    var themeColor = COLOR_GREEN;
                    var option = {};
                        option.color = themeColor;
                        option.secondaryColor = ($(this).attr('data-secondary-color')) ? $(this).attr('data-secondary-color') : '#dfdfdf';
                        option.className = ($(this).attr('data-classname')) ? $(this).attr('data-classname') : 'switchery';
                        option.disabled = ($(this).attr('data-disabled')) ? true : false;
                        option.disabledOpacity = ($(this).attr('data-disabled-opacity')) ? parseFloat($(this).attr('data-disabled-opacity')) : 0.5;
                        option.speed = ($(this).attr('data-speed')) ? $(this).attr('data-speed') : '0.5s';
                    var switchery = new Switchery(this, option);
                });
            }
            init_recepcion();
        </script>
{% endblock %}