{% extends "compras/base.html" %}
{% load static %}

{% load maestro_tags %}

{% block head_files %}
{% endblock %}

{% block breadcrumb  %}
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="javascript:;">Compras</a></li>
        <li class="breadcrumb-item"><a href="/maestro/sucursal">Compra</a></li>
        <li class="breadcrumb-item active">Detalle</li>
    </ol>
{% endblock %}

{% block pageheader %}
    <h1 class="page-header">Compra <small>Detalle de la Compra</small></h1>
{% endblock %}


{% block content %}
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">Compra</h4>
        </div>
        <div class="panel-body">
           <div class="col-md-12">
               <legend class="m-b-15">Datos Generales</legend>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="td-detail-title">PROVEEDOR:</td>
                                <td class="td-detail-desc">{{ object.proveedor.descripcion }}</td>
                                <td class="td-detail-title">ESTADO:</td>
                                <td class="td-detail-desc">{{ object.get_estado_display }}</td>
                            </tr>
                            <tr>
                                <td class="td-detail-title">ASIGNADO:</td>
                                <td class="td-detail-desc">{{ object.asignado.username }}</td>
                                <td class="td-detail-title">ORDEN:</td>
                                <td class="td-detail-desc">{{ object.orden.id }}</td>
                            </tr>
                            <tr>
                                <td class="td-detail-title">FECHA COMPRA:</td>
                                <td class="td-detail-desc">{{ object.fechahora|date:'d-m-Y H:i' }}</td>
                                <td class="td-detail-title">FECHA PROGRAMADA ENTREGA:</td>
                                <td class="td-detail-desc">{{ object.fecha_idealentrega|date:'d-m-Y H:i' }}</td>
                            </tr>
                                                    <tr>
                                <td class="td-detail-title">PRECIO SIN DESCUENTO:</td>
                                <td class="td-detail-desc">{{ object.precio_sindescuento }}</td>
                                <td class="td-detail-title">DESCUENTO</td>
                                <td class="td-detail-desc">{{ object.descuento }}</td>
                            </tr>
                                                    <tr>
                                <td class="td-detail-title">PRECIO:</td>
                                <td class="td-detail-desc">{{ object.precio }}</td>
                                <td class="td-detail-title"></td>
                                <td class="td-detail-desc"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
               <legend class="m-b-15">
                   Detalle
               </legend>
               <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Presentación</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                                <th>SubTotal</th>
                                <th>Descuento</th>
                                <th>Total</th>
                                <th>Oferta</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in detalle %}
                                <tr>
                                    <td>{{ d.presentacionxproducto.producto.descripcion }}</td>
                                    <td>{{ d.presentacionxproducto.presentacion.descripcion }}</td>
                                    <td>{{ d.cantidad_presentacion }} &#8773; {{ d.cantidad_unidad }} U.</td>
                                    <td>{{ d.precio }}</td>
                                    <td>{{ d.total }}</td>
                                    <td>{{ d.descuento }}</td>
                                    <td>{{ d.total_final }}</td>
                                    <td>{{ d.is_oferta }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
{% endblock %}

{% block bottom_scripts %}
{% endblock %}