{% extends "maestro/base.html" %}
{% load static %}

{% load maestro_tags %}

{% block head_files %}
{% endblock %}

{% block content %}
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <div class="btn-group pull-right">
                <a href="/compras/orden/0/edit" class="btn btn-xs btn-primary buttons"><i class="fa fa-plus"></i> </a>
                <a href="/compras/orden/{{ object.id }}/edit" class="btn btn-xs btn-primary buttons"><i class="fa fa-edit"></i></a>
                
            </div>
            <h4 class="panel-title">Orden de Compra</h4>
        </div>
        <div class="panel-body">

            <div class="form-group row m-b-2">
                <div class="col-md-2">
                    <label class="control-label">PROVEEDOR :</label>
                </div>
                <div class="col-md-2">
                    {{ object.proveedor.descripcion }}
                </div>
                <div class="col-md-2">
                    <label class="control-label">ESTADO:</label>
                </div>
                <div class="col-md-2">
                    {{ object.get_estado_display }}
                </div>
                <div class="col-md-2">
                    <label class="control-label">FECHA-HORA:</label>
                </div>
                <div class="col-md-2">
                    {{ object.fechahora|date:'d-m-Y H:i' }}
                </div>

            </div>
            <div class="form-group row m-b-2">
                <div class="col-md-2">
                    <label class="control-label">TOTAL:</label>
                </div>

                <div class="col-md-2">
                    {{ object.total_tentativo }}
                </div>
                <div class="col-md-2">
                    <label class="control-label">ASIGNADO:</label>

                </div>
                <div class="col-md-2">
                    {{ object.asignado.username }}
                </div>

                <div class="col-md-2">
                    <label class="control-label">ALMACEN:</label>
                </div>

                <div class="col-md-2">
                    {{ object.almacen.descripcion }}
                </div>
            </div>
           <div class="col-md-12">
           
               <legend class="m-b-15">
                   Detalle
               </legend>
               <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th width="22%">Producto</th>
                                <th width="13%">Presentación</th>
                                <th width="15%">Cantidad</th>
                                <th width="15%">Precio</th>
                                <th width="15%">Total</th>
                                <th width="15%">Promociones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in detalle %}
                                <tr>
                                    <td>{{ d.presentacionxproducto.producto.descripcion }}</td>
                                    <td>{{ d.presentacionxproducto.presentacion.descripcion }}</td>
                                    <td>{{ d.cantidad_presentacion }} &#8773; {{ d.cantidad_unidad }} U.</td>
                                    <td>{{ d.precio }}</td>
                                    <td>{{ d.total }}</td>
                                    <td>
                                        {% for p in d.promocion %}
                                            {% if p.tipo == '1' %}
                                                {{ p.cantidad_presentacion }} {{ p.producto.descripcion }} en {{ p.presentacion.presentacion.descripcion }}
                                            {% else %}
                                                Descuento de: {{ p.descuento }} para un total de {{ p.total }}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
    </div>

{% endblock %}

{% block bottom_scripts %}
{% endblock %}