{% extends "compras/base.html" %}
{% load static %}

{% block head_files %}
    <link href="{% static "assets/plugins/select2/dist/css/select2.min.css" %}" rel="stylesheet" >
    <link href="{% static "assets/css/default/own_css.css" %}" rel="stylesheet" >
{% endblock %}

{% block breadcrumb  %}
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="javascript:;">Compras</a></li>
        <li class="breadcrumb-item"><a href="/maestro/sucursal">Orden</a></li>
        <li class="breadcrumb-item active">Edición</li>
    </ol>
{% endblock %}

{% block pageheader %}
    <h1 class="page-header">Orden de Compra <small>Editar la Orden</small></h1>
{% endblock %}


{% block content %}
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">Orden de Compra </h4>
        </div>
        <div class="panel-body">
            <form method="post">{% csrf_token %}
                <input type="hidden" id="detalleorden_to_delete" name="detalleorden_to_delete" value="">
                <input type="hidden" id="current_pos" value="{{ detalle|length }}">
                <input type="hidden" id="detalleorden_to_save" name="detalleorden_to_save" value="">
               <div class="col-md-12">
                   <div class="row buttons-content">
                       <button type="submit" class="btn btn-success">
                            <i class="fa fa-save fas"></i> Guardar
                        </button>
                       <button id="add_btn" type="button" class="btn btn-success">
                            <i class="fa fa-plus fas"></i> Agregar
                        </button>
                   </div>
                   <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="td-detail-title">PROVEEDOR:</td>
                                    <td class="td-detail-desc">{{ model.proveedor.descripcion }}<input type="hidden" id="proveedor_id" value="{{ model.proveedor_id }}"></td>
                                    <td class="td-detail-title">ESTADO:</td>
                                    <td class="td-detail-desc">{{ form.estado }}</td>
                                </tr>
                                <tr>
                                    <td class="td-detail-title">TOTAL:</td>
                                    <td class="td-detail-desc" id="orden_total">{{ model.total_tentativo }}</td>
                                    <td class="td-detail-title">FECHA-HORA:</td>
                                    <td class="td-detail-desc">{{ model.fechahora|date:'d-m-Y H:i' }}</td>
                                </tr>
                                <tr>
                                    <td class="td-detail-title">ASIGNADO:</td>
                                    <td class="td-detail-desc">{{ model.asignado.username }}</td>
                                    <td class="td-detail-title"></td>
                                    <td class="td-detail-desc"></td>
                                </tr>
                            </tbody>
                        </table>
                   </div>
                   <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="22%">Producto</th>
                                    <th width="13%">Presentación</th>
                                    <th width="15%">Cantidad</th>
                                    <th width="15%">Precio</th>
                                    <th width="15%">Total</th>
                                    <th width="10%">Promociones</th>
                                    <th width="10%">Eliminar</th>
                                </tr>
                            </thead>
                            <tbody id="tbody_detalleorden">
                                <tr id="tr_detalleorden_empty">
                                    <td>{{ clean_form.producto }}</td>
                                    <td><select class="presentacionxproducto"></select></td>
                                    <td>{{ clean_form.cantidad_presentacion }}</td>
                                    <td class="td_precio">{{ clean_form.precio }}</td>
                                    <td class="td_total">0</td>
                                    <td><input type="hidden" class="promocion_inp"><a class="btn btn-default btn-icon btn-circle btn-lg promocion"><i class="fas fa-gift"></i></a></td>
                                    <td><a class="btn btn-default btn-icon btn-circle btn-lg delete_hdn"><i class="fas fa-trash"></i></a></td>
                                </tr>
                                {% for d in detalle %}
                                    <tr id="tr_do_{{ forloop.counter }}" data-id="{{ d.1.id }}">
                                        <td><input type="hidden" value="{{ d.1.id }}" name="do{{ forloop.counter }}-id">{{ d.0.producto }}</td>
                                        <td><select name="do{{ forloop.counter }}-presentacionxproducto" data-selected="{{ d.1.presentacionxproducto_id }}" required class="sel_presentacionxproducto" id="sel_pre_{{ d.1.producto_id }}"></select></td>
                                        <td>{{ d.0.cantidad_presentacion }}</td>
                                        <td class="td_precio">{{ d.0.precio }}</td>
                                        <td class="td_total">{{ d.1.total }}</td>
                                        <td><input type="hidden" class="promocion_inp" name="oferta-{{ forloop.counter }}" value="{{ d.1.oferta }}"><a data-pos="{{ forloop.counter }}" class="btn btn-default btn-icon btn-circle btn-lg promocion"><i class="fas fa-gift"></i></a></td>
                                        <td><a class="btn btn-default btn-icon btn-circle btn-lg delete"><i class="fas fa-trash"></i></a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
               </div>
            </form>
        </div>
    </div>
{% endblock %}


{% block modal %}
    <!-- #modal-dialog -->
    <div class="modal modal-message fade" id="modal-promocion">
        <div class="modal-dialog">
            <div class="modal-content">
                    <div class="modal-body" id="body_promociones">
                        <fieldset>
                            <legend class="m-b-15">Promociones por Producto
                                <span class="span-right"><button id="add_promocion" type="button" class="btn btn-success"><i class="fa fa-plus fas"></i> Agregar</button></span>
                            </legend>
                        </fieldset>
                        <input id="current_pos_promocion" type="hidden">
                        <div id="div_producto_empty">{{ clean_form.producto }}</div>
                        <div id="div_promocion_empty" class="form-inline">
                            <div class="form-group m-r-10 form_group_styles">
                                <select class="form-control tipo_promocion">
                                    <option value="">Tipo de Promoción</option>
                                    <option value="1">PRODUCTO</option>
                                    <option value="2">DESC. MONETARIO</option>
                                    <option value="3">DESC. PORCENTUAL</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:;" class="btn btn-white" data-dismiss="modal">Cerrar</a>
                        <button id="save_promocion" class="btn btn-success">Guardar Promoción</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block bottom_scripts %}
    <script src="{% static "assets/plugins/select2/dist/js/select2.min.js" %}"></script>
    <script src="{% static "assets/own/compras/orden.js" %}"></script>
    <script>
        $(".default-select2").select2();
        $(".select2-container--default").removeAttr('style').css("width","100%");
        init_ordencompraedit();
    </script>
{% endblock %}