{% extends "compras/base.html" %}
{% load static %}

{% block head_files %}
    <link href="{% static "assets/plugins/select2/dist/css/select2.min.css" %}" rel="stylesheet" >
    <link href="{% static "assets/css/default/own_css.css" %}" rel="stylesheet" >
    <link href="{% static "assets/css/default/own_replace.css" %}" rel="stylesheet" >
{% endblock %}

{% block breadcrumb  %}
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="javascript:;">Compras</a></li>
        <li class="breadcrumb-item"><a href="/maestro/sucursal">Orden</a></li>
        <li class="breadcrumb-item active">To Compra</li>
    </ol>
{% endblock %}

{% block pageheader %}
    <h1 class="page-header">Convertir a Compra <small>Pasar de Orden a Compra</small></h1>
{% endblock %}


{% block content %}
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">Convertir a Compra </h4>
        </div>
        <div class="panel-body">
            <form method="post">{% csrf_token %}
               <div class="col-md-12">
                   <div class="row buttons-content">
                       <button type="submit" class="btn btn-success">
                            <i class="fa fa-save fas"></i> Convertir
                        </button>
                   </div>
                   <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="td-detail-title">PROVEEDOR:</td>
                                    <td class="td-detail-desc">{{ orden.proveedor.descripcion }}</td>
                                    <td class="td-detail-title">ESTADO:</td>
                                    <td class="td-detail-desc">{{ orden.estado }}</td>
                                </tr>
                                <tr>
                                    <td class="td-detail-title">TOTAL:</td>
                                    <td class="td-detail-desc" id="total">{{ orden.total_tentativo }}</td>
                                    <td class="td-detail-title">FECHA-HORA:</td>
                                    <td class="td-detail-desc"></td>
                                </tr>
                                <tr>
                                    <td class="td-detail-title">CREADOR:</td>
                                    <td class="td-detail-desc">{{ orden.asignado.username }}</td>
                                    <td class="td-detail-title"></td>
                                    <td class="td-detail-desc"></td>
                                </tr>
                            </tbody>
                        </table>
                   </div>
                   <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="22%">Producto</th>
                                    <th width="13%">Presentación</th>
                                    <th width="15%">Cantidad</th>
                                    <th width="20%">Precio</th>
                                    <th width="20%">Total</th>
                                    <th width="10%">Promociones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for d in detalle %}
                                    <tr id="tr_{{ d.id }}">
                                        <td>{{ d.producto.descripcion }}</td>
                                        <td>{{ d.presentacionxproducto.presentacion.descripcion }}</td>
                                        <td><input type="hidden" class="cantidad" value="{{ d.cantidad_presentacion_pedido }}">{{ d.cantidad_presentacion_pedido }}</td>
                                        <td><input type="text" class="form-control precio" value="{{ d.precio_tentativo }}"></td>
                                        <td class="td_total">{{ d.total }}</td>
                                        <td><input type="hidden" class="promocion_inp"><a data-pos="{{ d.id }}" class="btn btn-default btn-icon btn-circle btn-lg promocion"><i class="fas fa-gift"></i></a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
               </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block modal %}
    <!-- #modal-dialog -->
    <div class="modal modal-message fade" id="modal-promocion">
        <div class="modal-dialog">
            <div class="modal-content">
                    <div class="modal-body" id="body_promociones">
                        <fieldset>
                            <legend class="m-b-15">Promociones por Producto
                                <span class="span-right"><button id="add_promocion" type="button" class="btn btn-success"><i class="fa fa-plus fas"></i> Agregar</button></span>
                            </legend>
                        </fieldset>
                        <input id="current_pos_promocion" type="hidden">
                        <div id="div_producto_empty">{{ clean_form.producto }}</div>
                        <div id="div_promocion_empty" class="form-inline">
                            <div class="form-group m-r-10 form_group_styles">
                                <select class="form-control tipo_promocion">
                                    <option value="">Tipo de Promoción</option>
                                    <option value="1">Producto</option>
                                    <option value="2">Descuento Monetario</option>
                                    <option value="3">Descuento Porcentual</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:;" class="btn btn-white" data-dismiss="modal">Cerrar</a>
                        <button id="save_promocion" class="btn btn-success">Guardar Promoción</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block bottom_scripts %}
    <script src="{% static "assets/plugins/select2/dist/js/select2.min.js" %}"></script>
    <script src="{% static "assets/own/compras/ordentocompra.js" %}"></script>
    <script>
        init_ordentocompra();
    </script>
{% endblock %}