.own_lbl_table {
    margin-top: 6px;
}
.own_admision_td {
    width: 25%;
}
.own_row_admision{
    padding-left: 20px;
    margin-bottom: 20px;
}
.hide_table{
    display: none;
}
.hide_notification{
    display: none;
}
.icons-table{
    margin-right: 10px;
}
.icons-table:hover{
    color: #00acac;
}
.td-detail-title{
    background-color: #c2c6ce;
    color: black;
    width: 20%;
}
.td-detail-desc{
    background-color: #e3e3e5;
    width: 30%;
}

.buttons-content{
    margin-left: 3px;
    margin-bottom: 10px;
}
.buttons{
    margin-right: 5px;
}
.no-link{
    color: inherit;
    text-decoration : none;
}
.no-link:hover{
    color: #00acac;
}
.span-right{
    float: right;
}
legend{
    padding-bottom: 8px;
}
.trash-content{
    margin-top: 10px;
}
#tr_presentacion_empty{
    display: none;
}
#add_btn{
    margin-left: 10px;
}