<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
   <link rel="stylesheet" type="text/css" href="ticket.css">
</head>
<body>

    <div id="cuerpo">
        <div id="content">
            <p class="texto">CELL SHOP SELVA S.A</p>
            <p class="texto">DISTRIBUIDOR AUTOTIZADO DE CLARO</p>
            <p class="texto">CAL.LOS GLADIOLOS MZ O LT 20A-PAMPA</p>
            <p class="texto">DEL CARMEN-CHANCHAMAYO-CHANCHAMAYO-JUNIN</p>
            <p class="texto">SUC:JR 28 DE JULIO 1165-HUANUCO-HCO-HCO</p>
            <p class="texto">RUC:20486148170</p>
            <p class="datos">*********************************************************</p>
            <p class="texto">BOLETA ELECRONICA</p>
            <p class="datos">*********************************************************</p>
            <p class="datos">DOC Nº : B041-000003560</p>
            <p class="datos">RUC: 00000001     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  FORM. PAGO : CONTADO</p>
            <p class="datos">NOMP Y AP :</p>
            <p class="datos">VENTAS VARIAS OTROS</p>
            <p class="datos">DIRECCION: 11 DE ENERO 109</p>
            <p class="datos">*********************************************************</p>
           <table>
               <thead>
                   <tr>
                       <th>Producto</th>
                       <th>Cant x Unid</th>
                       <th>Precio</th>
                       <th>Importe</th>
                   </tr>
               </thead>
               <tbody>
                   <tr>

                        <td>CHIZITO RATON</td>
                        <td>2</td>
                        <td>12</td>
                        <td>24</td>
                   </tr>
                   <tr>

                        <td>CHIZITO RATON</td>
                        <td>2</td>
                        <td>12</td>
                        <td>24</td>
                   </tr>
                   <tr>

                        <td>CHIZITO RATON</td>
                        <td>2</td>
                        <td>12</td>
                        <td>24</td>
                   </tr>
                   <tr>

                        <td>CHIZITO RATON</td>
                        <td>2</td>
                        <td>12</td>
                        <td>24</td>
                   </tr>
                   <tr>

                        <td>CHIZITO RATON</td>
                        <td>2</td>
                        <td>12</td>
                        <td>24</td>
                   </tr>
                   <tr>

                        <td>CHIZITO RATON</td>
                        <td>2</td>
                        <td>12</td>
                        <td>24</td>
                   </tr>
                   <tr>

                        <td>CHIZITO RATON</td>
                        <td>2</td>
                        <td>12</td>
                        <td>24</td>
                   </tr>
                   <tr>

                        <td>CHIZITO RATON</td>
                        <td>2</td>
                        <td>12</td>
                        <td>24</td>
                   </tr>
                   <tr>

                        <td>CHIZITO RATON</td>
                        <td>2</td>
                        <td>12</td>
                        <td>24</td>
                   </tr>
                   <tr>

                        <td>CHIZITO RATON</td>
                        <td>2</td>
                        <td>12</td>
                        <td>24</td>
                   </tr>
                   <tr>

                        <td>CHIZITO RATON</td>
                        <td>2</td>
                        <td>12</td>
                        <td>24</td>
                   </tr>
                   <tr>

                        <td>CHIZITO RATON</td>
                        <td>2</td>
                        <td>12</td>
                        <td>24</td>
                   </tr>
                   <tr>

                        <td>CHIZITO RATON</td>
                        <td>2</td>
                        <td>12</td>
                        <td>24</td>
                   </tr>
                   <tr>

                        <td>CHIZITO RATON</td>
                        <td>2</td>
                        <td>12</td>
                        <td>24</td>
                   </tr>
                   <tr>

                        <td>CHIZITO RATON</td>
                        <td>2</td>
                        <td>12</td>
                        <td>24</td>
                   </tr>
                   <tr>

                        <td>CHIZITO RATON</td>
                        <td>2</td>
                        <td>12</td>
                        <td>24</td>
                   </tr>

               </tbody>
           </table>
            <p class="datos">*********************************************************</p>
            <p class="texto">T.DESCUENTO S/ : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 0.00</p>
            <p class="texto">OP GRATUTIO S/ : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 0.00</p>
            <p class="texto">OP. INAFECTOS/ : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 0.00</p>
            <p class="texto">OP. EXONERADA/ : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 0.00</p>
            <p class="datos">*********************************************************</p>



        </div>
    </div>
</body>
</html>